[user]
	name = Phillip Sorensen
	email = {{ email }}
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	sshCommand = /usr/bin/ssh
[color]
	ui = true
[push]
	default = simple
[init]
	defaultBranch = main
