# Setup pkgsrc environment  -*- mode: sh -*-
#

# reset PATH and other variables
export PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin

unset LD_LIBRARY_PATH
unset PYTHONUSERBASE

hash -r

# setup pkgsrc
{% if distro == "el7" %}source scl_source enable devtoolset-10{% endif %}

export PKGSRC={{ pkgsrc_dir }}

export PATH=$PKGSRC/sbin:$PATH
export PATH=$PKGSRC/bin:$PATH
